/* Style to fix the issue of text extending past panel length */
.card-body a {
    word-break: break-all;
  }
  .articleHeadline {
    line-height: 1.5;
  }

.navbar {
   background-color: #807e9b;
}
/* Navbar & Jumbotron */
.jumbotron {
    background-image: linear-gradient(#420D09, #800000); 
    color: #FDffff;
    border-radius: 10px;
    padding: 75px;
    opacity: .25;
}

/* Body elements */
body {
    background:url(../assets/images/spinach.jpg);
}

.search-card {
    background-image: linear-gradient( #68A225, #B3DE81);
    opacity: .80; 
}

.results-card {
    background-image: linear-gradient( #68A225, #B3DE81);
    opacity: .80;
}
